{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}

    {% if app.user != null %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Mon Profil</li>
        </ol>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <h1> {{ "Nom : " }} {{ utilisateur.utiNom }}</h1>
            <h1> {{ "Prénom : " }} {{ utilisateur.utiPrenom }}</h1>
            <p class="title">{{ "Mail : " }} {{ utilisateur.utiEmail }}</p>
            <p> {{ "Departement : " }} {{ utilisateur.utiFkdepartement.depNom }}</p>
            <p>{{ "Sport : " }} {{ utilisateur.utiFksport.spoNom }}</p>

        </div>

        <input type="button" onclick="location.href='/profil/modif/{{ utilisateur.utiId }}';" value="Modifier mon sport" />
    </div>
    {% endif %}

    </div>
{% endblock %}
