{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        </ol>
    </div>

    {% if app.user != null %}
        {{ "Nom : " }} {{ utilisateur.utiNom }}
        <br>
        {{ "Prenom : " }} {{ utilisateur.utiPrenom }}
        <br>
        {{ "Mail : " }} {{ utilisateur.utiEmail }}
        <br>
        {{ "Departement : " }} {{ utilisateur.utiFkdepartement.depNom }}
        <br>
        {{ "Sport : " }} {{ utilisateur.utiFksport.spoNom }}
        <br>
        <input type="button" onclick="location.href='/visualisation/performance/{{ utilisateur.utiId }}';" value="Visualiser performances" />
    
    {% endif %}

</div>
{% endblock %}
