{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if app.user != null %}
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav menu">
                <li><a href="/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Accueil</a></li>
                <li class="active"><a href="/evenement/afficher"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Mon Planning</a></li>
                <li ><a href="/performance/visualisation"><svg class="glyph stroked notepad"><use xlink:href="#stroked-notepad"></use></svg> Mes performances</a></li>
                <li ><a href="/performance/visualisation/cds"><svg class="glyph stroked notepad"><use xlink:href="#stroked-notepad"></use></svg> Toutes les performances</a></li>
                <li role="presentation" class="divider"></li>
            </ul>

        </div><!--/.sidebar-->
    {% endif %}
    {% if app.user == null %}
        <a href="/login" class="btn btn-info"> You need to login >></a>
    {% endif %}

    {% if app.user != null %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Ajouter un evenement</li>
            </ol>
        </div >




        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">Ajouter un nouveau evenement</div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="form_group">
                            <div >
                                {{ form_widget(form) }}
                             </div>
                        </div>

                        <input type="submit" class="btn" value="Enregistrer" />
                        {{ form_end(form) }}

                    </div>
            </div>
        </div>
    {% endif %}

        
{% endblock %}