{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <p> hello</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn" value="Enregistrer" />
    {{ form_end(form) }}
    
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}