{#  L'échappement de données (output escaping) est automatique avec Symfony / Twig 
    Il n'est pas nécessaire d'écrite  {{ value|escape }} 
    http://symfony.com/doc/current/templating.html#output-escaping
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
	{% if app.user != null %}
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav menu">
                <li class="active"><a href="/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Accueil</a></li>
                <li ><a href="/evenement/afficher"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Mon Planning</a>
                <li ><a href="/visu/perf"><svg class="glyph stroked notepad"><use xlink:href="#stroked-notepad"></use></svg> Mes performances</a></li>
                <li role="presentation" class="divider"></li>
            </ul>

        </div><!--/.sidebar-->
    {% endif %}
    {% if app.user == null %}
		<a href="/login" class="btn btn-info"> You need to login >></a>
	{% endif %}

	{% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                 </ol>
            </div>



            <ul class="nav nav-pills">
                <li><a href="/evenement/nouveau">Ajouter un évènement</a></li>
                <li><a href="/visu/perf">Visualiser vos performances</a></li>
                <li><a href="/performance">Créer une performance</a></li>
            </ul>

             {% if allAbsence == null %}
                <p> Aucun évènement de prévu </p>
            {% endif %}
            {% if allAbsence != null %}


                <div class="row">
                    <div>
                     <div class="panel panel-default">
                        <div class="panel-heading">Mes évenements</div>
                        <div class="table-responsive">
                            <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead>
                                <tr>
                                    <th data-field="name" data-checkbox="true">Nom</th>
                                    <th data-field="data-date-format" data-sortable="true">Date début</th>
                                    <th data-field="data-date-format"  data-sortable="true">Date fin</th>
                                    <th data-field="name"  data-sortable="true">Modifier</th>
                                </tr>
                                {% for absence in allAbsence %}
                                    <tr>
                                        <td>{{ absence.absNom }}</td>
                                        <td>{{ absence.absDatedebut|date("d/m/Y") }}</td>
                                        <td>{{ absence.absDatefin|date("d/m/Y") }}</td>
                                        <td><input type="button" onclick="location.href='/evenement/{{ absence.absId }}';" value="Modifier" /></td>
                                    </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                     </div>
                    </div>
                </div><!--/.row-->
            {% endif %}
        </div>

	{% endif %}
{% endblock %}