{#  L'échappement de données (output escaping) est automatique avec Symfony / Twig 
    Il n'est pas nécessaire d'écrite  {{ value|escape }} 
    http://symfony.com/doc/current/templating.html#output-escaping
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if app.user == null %}
		<a href="/login" class="btn btn-info"> You need to login >></a>
	{% endif %}

	{% if app.user != null %}
        Utilisateur courant : {{ app.user.username }} <input type="button" onclick="location.href='/logout';" value="Déconnexion" />
        <p> Pour ajouter un évènement à votre calendrier
        <input type="button" onclick="location.href='/evenement/ajouter';" value="Ajouter un évènement" />
        <br/>
        {% if allAbsence == null %}
            <p> Aucun évènement de prévu </p>
        {% endif %}
        {% if allAbsence != null %}
        <table>
                <tr>
                    <th>Nom</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                </tr>

                {% for absence in allAbsence %}
                    <tr>
                        <td>{{ absence.absNom }}</td>
                        <td>{{ absence.absDatedebut|date("d/m/Y") }}</td>
                        <td>{{ absence.absDatefin|date("d/m/Y") }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}


	{% endif %}
	
	
{% endblock %}