{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <br>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="/visualisation/performance/cds">Toutes les performances</a></li>

                </ol>
             </div>

            {#<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Toutes les performances</h1>
                </div>
            </div><!--/.row-->#}
             


            {% if allPerf == null %}
                <p> Aucune performance </p>
            {% endif %}
            {% if allPerf != null %}
                <div class="row">
                    <div>
                        <div class="panel panel-default">
                            <br/>
                            <a href="/visualisation/performance/cds/sportdate"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span>Filtrer par sport et date</button></a>
                            <a href="/telechargement/cds/performances"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span>Télécharger les performances</button></a>


                            <div class="panel-heading">Performances des sportifs</div>
                            <div class="table-responsive">
                                <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Sport</th>
                                            <th>Compétition</th>
                                            <th>Localisation</th>
                                            <th>Epreuve</th>
                                            <th>Catégorie</th>
                                            <th>Objectif</th>
                                            <th>Date début</th>
                                            <th>Date fin</th>
                                            <th>Résultat</th>
                                            <th>Ressenti</th>
                                            <th>Photos</th>
                                         </tr>
                                        {% for performance in allPerf %}
                                            {% if performance.perFkjointuresport != null %}
                                                <tr>
                                                    <td><a href="/profil/{{ performance.perFkutilisateur.utiId }}">{{ performance.perFkutilisateur.utiNom }}</a></td>
                                                    <td><a href="/profil/{{ performance.perFkutilisateur.utiId }}">{{ performance.perFkutilisateur.utiPrenom }}</a></td>
                                                    <td>{{ performance.perFkjointuresport.joispoFksport.spoNom }}</td>
                                                    <td>{{ performance.perFktypecompetition.typcomNom }}</td>
                                                    <td>{{ performance.perFklocalisationcompetition.loccomNom }}</td>
                                                    <td>{{ performance.perFkjointuresport.joispoFkepreuve.eprNom }}</td>
                                                    <td>{{ performance.perFkjointuresport.joispoFkcategorie.catNom }}</td>
                                                    <td>{% if performance.perImportance == 1 %}
                                                            {{ "Saison" }}
                                                        {% else %}
                                                            {{ "Intermédiaire" }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ performance.perDatedebut|date("d/m/Y") }}</td>
                                                    <td>{{ performance.perDatefin|date("d/m/Y") }}</td>
                                                    <td>
                                                    {% if performance.perFkresultat == null %}
                                                        {{ "Non renseigné" }}
                                                    {% else %}
                                                        {{ performance.perFkresultat.resNom }}
                                                    {% endif %}</td>
                                                    <td>{{ performance.perRessenti }}</td>

                                                    <td><p data-placement="top" data-toggle="tooltip" title="Voir"><button  onclick="location.href='/visualisation/performance/photos/{{ performance.perId }}';" class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="View" ><span class="glyphicon glyphicon-search"></span></button></p></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            {% endif  %}
        </div>
    {% endif %} 
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

