{% extends 'menu.html.twig.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active">Mes Performances</li>
                </ol>
             </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Toutes les performances</h1>
                </div>
            </div><!--/.row-->
             


            {% if allPerf == null %}
                <p> Aucun évènement de prévu </p>
            {% endif %}
            {% if allPerf != null %}
                <div class="row">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Mes performances</div>
                            <div class="table-responsive">
                                <table class="table" data-toggle="table"   data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Type compétition</th>
                                            <th>Echelle compétition</th>
                                            <th>Localisation compétition</th>
                                            <th>Epreuve</th>
                                            <th>Catégorie</th>
                                            <th>Importance</th>
                                            <th>Date début</th>
                                            <th>Date fin</th>
                                            <th>Lieu</th>
                                            <th>Résultat</th>
                                            <th>Ressenti</th>
                                         </tr>
                                        {% for performance in allPerf %}
                                            <tr>
                                                <td>{{ performance.perFkutilisateur.utiNom }}</td>
                                                <td>{{ performance.perFkutilisateur.utiPrenom }}</td>
                                                <td>{{ performance.perFktypecompetition.typcomNom }}</td>
                                                <td>{{ performance.perFkechellecompetition.echcomNom }}</td>
                                                <td>{{ performance.perFklocalisationcompetition.loccomNom }}</td>
                                                <td>{{ performance.perFkjointuresport.joispoFkepreuve.eprNom }}</td>
                                                <td>{{ performance.perFkjointuresport.joispoFkcategorie.catNom }}</td>
                                                <td>{% if performance.perImportance == 1 %}
                                                        {{ "Forte" }}
                                                    {% else %}
                                                        {{ "Basse" }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ performance.perDatedebut|date("d/m/Y") }}</td>
                                                <td>{{ performance.perDatefin|date("d/m/Y") }}</td>
                                                <td>{{ performance.perLieu }}</td>
                                                <td>
                                                {% if performance.perFkresultat == null %}
                                                    {{ "Non renseigné" }}
                                                {% else %}
                                                    {{ performance.perFkresultat.resNom }}
                                                {% endif %}</td>
                                                <td>{{ performance.perRessenti }}</td>
                                        </tr>
                                    {% endfor %}
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            {% endif  %}
        </div>
    {% endif %} 

{% endblock %}

