{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ parent() }}
    {% if app.user != null %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <br>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li class="active">Photos partagées</li>
                </ol>
            </div >
            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-heading">Photos partagées</div>
                    <div class="panel-body">
                        <div class="form_group">
                            {% if allFiles != null %}
                                {% for photos in allFiles %}
                                    <li>Photo - <button  onclick="location.href='/download/image/{{ photos.ficChemin }}';" class="btn btn-info btn-xs" data-title="Download" data-toggle="modal" data-target="Download" >Télécharger <span class="glyphicon glyphicon-download"></span></button></li>
                                {% endfor %}
                                <br/>
                                <p data-placement="top" data-toggle="tooltip" title="Télécharger"><button  onclick="location.href='/download/allimage/{{ idPerformance }}';" class="btn btn-info btn-xs" data-title="Download" data-toggle="modal" data-target="Download" >Télécharger toutes les photos <span class="glyphicon glyphicon-download"></span></button></p> 
                            {% else %}
                                <p>Aucune photo</p>
                            {% endif %}
                    </div>
                </div>
            </div>
    {% endif %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% endblock %}


